script(src="/static/markdown-it/markdown-it.min.js")
script(src="/static/editorjs/editor.js")
script(src="/static/editorjs/header.js")
script(src="/static/editorjs/marker.js")
script(src="/static/editorjs/paragraph.js")
script(src="/static/editorjs/underline.js")
script(src="/static/editorjs/inline-code.js")
script(src='/static/jquery/jquery.slim.min.js')
script(src='/static/popper/umd/popper.min.js')
script(src='/static/bootstrap/js/bootstrap.min.js')